<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/styles.css" />
        <title>数据流通平台-首页</title>
        <script>
            var BASE_PORT = "{{.Port}}"
            // var BASE_URL = "http://127.0.0.1:" + BASE_PORT;
            var BASE_URL = "";
        </script>
    </head>
    <body>
        <ul>
            <li><a class="active" href="/">首页</a></li>
            <li><a href="/applicationToMe">待审批申请</a></li>
            <li><a href="/myApplication">我的申请</a></li>
        </ul>
        <!-- <button id="testHTTPButton">click me</button> -->
        <div class="header">
            <h1 class="title">服务列表</h1>
            <button id="addServiceBtn" class="add-service-button">
                Add Service
            </button>
        </div>
        <table id="servicesTable">
            <thead>
                <tr>
                    <th>Service Name</th>
                    <th>Service ID</th>
                    <th>Seller URL</th>
                    <th>Seller Public Key</th>
                    <th>Comment</th>
                    <th>Transaction Hash</th>
                    <th>Application</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div id="addServiceModal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <h2>Add New Service</h2>
                <form id="addServiceForm">
                    <label for="serviceName">Service Name:</label>
                    <input
                        type="text"
                        name="serviceName"
                        placeholder="Service Name"
                        required
                    /><br />
                    <label for="sellerURL">Seller URL:</label>
                    <input
                        type="text"
                        name="sellerURL"
                        placeholder="Seller URL"
                        required
                    /><br />
                    <label for="headers">Headers (每个header独占一行):</label>
                    <textarea
                        id="headers"
                        name="headers"
                        rows="1"
                        placeholder="Headers"
                    ></textarea
                    ><br />
                    <label for="sellerPublicKey">Seller Public Key:</label>
                    <input
                        type="text"
                        name="sellerPublicKey"
                        placeholder="Seller Public Key"
                        required
                    /><br />
                    <label for="comment">Comment:</label>
                    <input
                        type="text"
                        name="comment"
                        placeholder="Comment"
                    /><br />
                    <input type="submit" value="Add" />
                </form>
            </div>
        </div>

        <script src="/static/app.js"></script>
        <!-- <script>
            document.getElementById('testHTTPButton').addEventListener('click',testHTTP);
        </script> -->
    </body>
</html>
